$fuentePrinciapal: 'Poppins', sans-serif;

//colores
$blanco: #ffffff;
$blanco2: #f9f9f9;
$primario: #19191a;
$primario2: #2a3f77;
$secundario: #caa55e;
$blancoTrans: #fafafac9;
$negro: #000000;
$gris: #3b3b3b;
$active: #8dc63f;
$inactive: #79797a;

//Medidad Queries
$telefono: 408px;
$tablet: 930px;
$desktop: 1200px;

//funetes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

//seapraciones
$separacion: 5rem;
