$fuentePrinciapal: 'Poppins', sans-serif;

//colores
$blanco: #ffffff;
$blanco2: #f9f9f9;
$blanco3: #fdfdfd;
$blanco4: #ebf0f3;
$primario: #19191a;
$primario2: #54b5ba;
$secundario: #3c6c8d;
$secundario2: #b1c4d1;
$secundarioOsc: #0c969d;
$blancoTrans: #fafafac9;
$negro: #000000;
$gris: #3b3b3b;
$gris2: #424243;
$active: #8dc63f;
$error: #a70404;
$inactive: #79797a;
$desActive: #b2b2b3;

//Medidad Queries
$telefono: 408px;
$tablet: 930px;
$desktop: 1200px;

//funetes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

//seapraciones
$separacion: 5rem;
