.modal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: inherit;
	min-height: 100vh;
	background-color: rgba(30, 54, 70, 0.3);
	z-index: 10;
	display: flex;
	justify-content: flex-end;
	overflow-x: hidden;

	animation: aparency 400ms;

	@keyframes aparency {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	.modal__bar {
		background-color: $blanco;
		padding: 2.4rem;
		@include tabletinvert {
			width: 100%;
		}

		h2 {
			font-size: 2.4rem;
		}
		p {
			margin-top: 4.2rem;
			font-size: 1.4rem;
			font-weight: 600;
			// line-height: 2.4rem;
		}

		input {
			background-color: transparent;
			border: none;
			outline: none;
			font-size: 1.4rem;
			@include tabletinvert {
				width: 100%;
			}
		}
		label {
			font-size: 1.2rem;
			outline: none;
		}
		textarea {
			font-size: 1.4rem;
			border: none;
			resize: none;
			outline: none;
			overflow: auto;
			transform: 400ms;
			&::-webkit-scrollbar {
				width: 0;
			}
		}

		.formRecipe__group {
			border: $primario2 solid 0.1rem;
			padding: 0.8rem;
			border-radius: 0.4rem;
			display: flex;
			flex-direction: column;
			@include tablet {
				max-width: 41rem;
			}
			label {
				margin-bottom: 0.3rem;
			}
		}

		.start {
			margin-top: -2rem;
			border: none;
			display: flex;
			align-items: center;
			@include tabletinvert {
				justify-content: center;
			}
			input {
				margin: 0.8rem;
				width: 2.4rem;
				height: 2.4rem;
				accent-color: $secundario;
			}
			label {
				font-size: 1.4rem;
				margin-right: 2.4rem;
			}
		}
		position: relative;
		padding-bottom: 10rem;
	}
}

.btn {
	position: absolute;
	right: 2.4rem;

	margin-top: 3.4rem;
	padding: 1.2rem 3.2rem;
	font-size: 1.6rem;
	font-weight: 600;
	border-radius: 2.5rem;
	border: none;
	color: $blanco;
	background-color: $desActive;
	@include tabletinvert {
		width: 90%;
	}

	&:hover {
		cursor: pointer;
	}
}
.btnActi {
	background-color: $secundarioOsc !important;
}
.warningForm {
	font-size: 0.7rem;
	padding: 0;
	margin: 0;
	line-height: 0;
	color: $error;
	font-weight: 300;
	text-align: center;
	padding-bottom: 2rem;
}
