.header {
	height: 8rem;
	position: fixed;
	width: 100%;
	background-color: $blanco;
	display: flex;
	z-index: 9;
	align-items: center;
	box-shadow: 0px 0px 5px 0px rgba(123, 146, 165, 0.1);
	img {
		max-height: 7rem;
		padding-left: 1rem;
	}
}
